asgiref==3.5.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
Django==4.0.4
django-admin-thumbnails==0.2.6
django-ckeditor==6.4.0
django-currencies==0.10.1
django-js-asset==2.0.0
django-mptt==0.13.4
idna==3.3
jsonfield==2.1.1
Pillow==9.1.0
python-gettext==4.0
pytz==2022.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2
sqlparse==0.4.2
urllib3==1.26.9
