<h1>Product Colors</h1>
<div class="product-options">
    <ul class="color-option">
        <li>
            <span class="text-uppercase">Color:</span>
        </li>
        <li class="active">
            <a href="#" style="background-color:#475984;">Magenta</a>
        </li>
        <li>
            <a href="#" style="background-color:#8A2454;">Blue</a>
        </li>
        <li>
            <a href="#" style="background-color:#BF6989;">Yellow</a>
        </li>
        <li>
            <a href="#" style="background-color:#9A54D8;">Green</a>
        </li>
    </ul>
</div>
